@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Londrina+Outline&display=swap"); /* styles reset =============================================================================== */

/*! color-pallete ================================================================================================== */

:root {
  /* Light theme */
  --light-main: #d9d9d9;
  --important-light: #f13d3c;
  --timer-light: #f2762e;
  --done-light: #347318;

  /* Dark theme */
  --dark-main: #262626;
  --important-dark: #ff2424;
  --timer-dark: #df7f49;
  --done-dark: #4bab29;
}

.active-todo {
  /* border: 2px solid #5aa045; */
}
.important {
  border: 3px solid #e3070a;
}

.finished-task {
  border: 4px solid#a1b5c4;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-main);
}

.title-text {
  position: relative;
  display: block;
  float: none;
  width: 330px;
  margin: 0 auto;
}

h1 {
  font-family: "Londrina Outline";
  font-weight: 400;
  line-height: 0;
  font-size: 150px;
  letter-spacing: 0.02em;
  color: var(--dark-main);
}

.tasks-container {
  max-width: 960px;
  margin: 0 auto;
}

.list-container {
  display: flex;
  /* flex: 40px 40px 720px 40px 40px; */
  justify-content: space-between;
  align-items: start;
}

.task-text {
  width: 720px;
}

h3 {
  display: block;
  width: 100%;
  line-height: 70px;
  position: relative;
  text-align: start;
  margin: -12px 0 0 0;
  padding-left: 10px;
  background-image: repeating-linear-gradient(
    transparent,
    transparent 54px,
    var(--dark-main) 54px,
    var(--dark-main) 56.3px,
    transparent 56.3px,
    transparent 71px
  );
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.done-button {
  fill: var(--dark-main);
}

.timer-button {
}

.important-button {
}

.important-label:hover {
  cursor: pointer;
}

.important-button:checked {
  fill: var(--important-light);
}

.submit-button {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.submit-circle {
  color: var(--dark-main);
}

.submit-arrow {
  color: var(--dark-main);
  position: relative;
  left: -14px;
  top: -72%;
}

.list-container > button,
.list-container > h3,
.list-container > input,
.list-container > label {
  display: inline-flex;
}

.hidden {
  display: none;
}

.todo-list {
  margin: 0;
  padding: 0;
}

.todo-list-item {
  margin-bottom: 12px;
}

.todo-list-item span {
  display: flex;
  align-items: center;
}

.task-exists {
  color: #1371bf;
}

.add-form-input {
  flex-grow: 1;
  max-width: 720px;
  box-sizing: border-box;
  height: 46px;
  margin-right: 16px;
  padding-left: 10px;
  font: inherit;
  border: none;
}

.input-border {
  position: relative;
  left: 120px;
  bottom: 13px;
}

.add-form-input:focus {
  
  outline: none;
}

.add-form-input:hover {
  
}

.add-form-input::placeholder {
  color: #a1b5c4;
}

/*TODO Кнопка важное */

.important-button {
  /* position: absolute; */

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.important-button label {
  display: block;
  padding: 12px 18px;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  user-select: none;
}

.important-button + span::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background-image: url(media/important.svg);
  border-radius: 50%;
}

/* .important-button:checked + span::before {
  background-color: #e98080;
  background-repeat: no-repeat;
  background-position: center;
}

.important-button:not(:checked):hover + span::before,
.important-button:not(:checked):focus + span::before {
  background-color: rgba(249, 202, 202, 0.2);
} */

/* ! Форма */

.add-form-button {
  user-select: none;
  touch-action: manipulation;
}

.add-form-button:hover,
.add-form-button:focus {
}

.add-form-button:active {
}
