@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Londrina+Outline&display=swap"); /* styles reset =============================================================================== */

/*! color-pallete ================================================================================================== */

:root {
  /* Light theme */
  --main-color: #d9d9d9;
  --secondary-color: #262626;
  --important-color: #ff2424;
  --time-color: #f2762e;
  --done-color: #347318;
  --calendar-highlight: #7d7c7c;
  --main-font: "Comfortaa";
}

.dark-theme {
  --main-color: #262626;
  --secondary-color: #d9d9d9;
  --main-color: #262626;
  --time-color: #df7f49;
  --done-color: #4bab29;
}

.active-todo {
  /* border: 2px solid #5aa045; */
}
.important {
  border: 3px solid #e3070a;
}

.finished-task {
  border: 4px solid#a1b5c4;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--secondary-color);
  background-color: var(--main-color);
}

.title-text {
  position: relative;
  display: block;
  float: none;
  width: 330px;
  margin: 0 auto;
}

h1 {
  font-family: "Londrina Outline";
  font-weight: 400;
  line-height: 0;
  font-size: 150px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.tasks-container {
  max-width: 960px;
  margin: 0 auto;
}

.list-container {
  display: flex;
  /* flex: 40px 40px 720px 40px 40px; */
  justify-content: space-between;
  align-items: start;
}

.task-text {
  width: 720px;
}

h2 {
  font-weight: 700;
  font-size: 18px;
}

.tasks-text {
  resize: none;
  overflow: hidden;
  outline: none;
  border: none;
  color: var(--secondary-color);
  font: var(--main-font);
  background-color: transparent;
  display: block;
  width: 100%;
  line-height: 70px;
  position: relative;
  text-align: start;
  margin: -12px 0 0 0;
  padding-left: 10px;
  background-image: repeating-linear-gradient(
    transparent,
    transparent 54px,
    var(--secondary-color) 54px,
    var(--secondary-color) 56.3px,
    transparent 56.3px,
    transparent 71px
  );
}

.stickers-section {
  border: 2px solid #1371bf;
  background-color: #262626;
}

.stickers-section img {
  width: 50px;
  height: auto;
  color: #e3070a;
  fill: #e3070a;
  stroke: #e3070a;
  display: none;
}

.tabs-container {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab span {
  padding: 0 20px;
}

.tabs-border {
  width: 100%;
  height: 2.3px;
  background-color: var(--secondary-color);
  border-radius: 30px;
}

.add-tub svg {
  position: relative;
  top: -3px;
}

/* ! Buttons */
button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.theme-buttons {
  position: absolute;
  top: 60px;
  right: 120px;
}

.timer-button {
  fill: var(--time-color);
}

.important-button-svg {
  fill: var(--important-color);
}

.add-form {
  position: relative;
}

.add-form-button {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.submit-arrow {
  position: absolute;
  margin-top: 12px;
  margin-left: 0;
  transition: margin-left 0.3s;
}

.submit-circle {
  position: absolute;
  margin-left: 17px;
}

.add-form-button:hover .submit-arrow {
  margin-left: 6px;
}

.submit-circle,
.submit-arrow,
.input-border {
  color: var(--secondary-color);
}

.active-todo .done-button {
  color: var(--secondary-color);
}

.checkmark {
  opacity: 0;
}

.done-button:hover .checkmark {
  opacity: 100;
}

.add-sticker-button,
.edit-button,
.delete-button,
.goblin-theme,
.color-theme {
  color: var(--secondary-color);
  opacity: 40%;
}

.add-sticker-button:hover,
.edit-button:hover,
.delete-button:hover,
.goblin-theme:hover,
.color-theme:hover {
  opacity: 100%;
}

.list-container > button,
.list-container > h3,
.list-container > .input-container {
  display: inline-flex;
}

.hidden {
  display: none;
}

.todo-list {
  margin: 0;
  padding: 0;
}

.todo-list-item {
  margin-bottom: 12px;
}

.todo-list-item span {
  display: flex;
  align-items: center;
}

.task-exists {
  color: #1371bf;
}

.add-form-input {
  flex-grow: 1;
  max-width: 720px;
  box-sizing: border-box;
  height: 46px;
  margin-right: 16px;
  padding-left: 10px;
  font: inherit;
  border: none;
  background-color: transparent;
  color: var(--secondary-color)
}

.input-border {
  position: relative;
  left: 120px;
  bottom: 13px;
}

.add-form-input:focus {
  outline: none;
}

.add-form-input::placeholder {
  opacity: 40%;
}

/* ! Форма */

.add-form-button {
  user-select: none;
  touch-action: manipulation;
}

.important-button {
  display: none;
}
.checkbox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
}

.important-button:checked + .checkbox {
  background: var(--important-color);
}

.important-button:checked + .checkbox svg path.cirle {
  fill: var(--important-color);
}

.important-button:checked + .checkbox svg path {
  fill: var(--main-color);
}

.date-picker {
  position: absolute;
  z-index: 100;
  top: 60px;
  left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.date-picker input {
  outline: none;
  border: none;
  background-color: transparent;
}

.date-picker input[type="text"] {
  color: var(--time-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

/*! Color themes */

.finished-task .done-button,
.finished-task .checkmark {
  color: var(--done-color);
  opacity: 100%;
  cursor: default;
}
